@charset "UTF-8";

/* index.html - header class */

.header {
	margin-top: 24px;
	
}

.header_top_togglebutton button i {
	font-size: 24px;
	color: #d6faf7;
}

.header i {
	font-size: 16px;
	
}

.header button {
	background-color:transparent;
	border: none;
	
}

.header input {
	background-color:transparent;
	border: 1px soild;
	
}

.header_top_icons a button i {
	font-size: 24px;
	color: #d6faf7;
}

.header_top {
	display: flex;
	justify-content: center;
	
}

.header_top_logo {
	width:270px;
	height:100px;
	background-image: url('../images/logo_pink2.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.header_middle {
	text-align: center;
	margin: 8px 0px;
	
}

.header_middle input {
	text-align: center;
	padding: 4px 24px;
	border-radius: 8px;
	background-color: #f0fdfc;
	border: 1px;
	
}

.header_middle input:hover {
	background-color: #d6faf7;
	border: 1px;
}

.header_bottom {
	text-align: center;
	
}

.header_bottom_button input {
	border: 1px;
	padding: 4px 24px;
	border-radius: 8px;
	background-color: #f0fdfc;
	
}

.header_bottom_button input:hover {
	background-color: #d6faf7;
	border: 1px;
}
/* index.html - header class */

/* inddex.html - main class */

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 540px;
	margin: 8px 0px;
	
}

.main div {
	width: 400px;
	height: 300px;
	background-color: #bdbdbd;
	margin: 8px 0px;
	border-radius: 16px;
	
	/* 추후 나중에 크기 조절 및 테두리 정리하기 */
}

.main div a {
	display: inline;
	text-decoration: none;
	font-size: 18px;
	color: black;
	font-family: Times;
	font-weight: 900;

	
}

.main div a:hover {
	display: inline;
	text-decoration: none;
	font-size: 18px;
	background-color: gray;
	opacity: 0.3;
	color: #27ebdc;
	border-radius: 8px;
	padding: 16px;
}

.main_top {
	background-image: url('../images/chart2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_top_top {
	background-image: url('../images/chart7.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_top_middle {
	background-image: url('../images/chart5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_top_bottom {
	background-image: url('../images/book.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_up_middle {
	background-image: url('../images/findo7.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_up_middle_top {
	background-image: url('../images/iphone.png');
	background-size: cover;
	background-repeat: no-repeat;	
	
}

.main_up_middle_middle {
	background-size: cover;
	background-repeat: no-repeat;	
}

.main_up_middle_bottom {
	background-image: url('../images/cf.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	
}

.main_middle {
	background-image: url('../images/findo1.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.main_middle_top {
	background-image: url('../images/findo2.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_middle_middle {
	background-image: url('../images/money1.gif');
	background-size: cover;
	background-repeat: no-repeat;
}

.main_middle_bottom {
	background-image: url('../images/insurance.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	
}

.main_bottom {
	background-image: url('../images/hand3.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	
}

.main_bottom_top {
	background-image: url('../images/findo6.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_bottom_middle {
	background-image: url('../images/building2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.main_bottom_bottom {
	background-image: url('../images/employee.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

/* inddex.html - main class */

/* index.html - footer class */

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.footer_top{
	width: 400px;
	background-color: white;
	margin: 16px 0px;
	border-radius: 8px;
	
		
	display: flex;
	justify-content: space-around;
	
}

.footer_top_list li {
	text-decoration: none;
	list-style: none;
	
}

.footer_top_list li a {
	text-decoration: none;
	color: #a6f7f0;
	
}

.footer_top_list li a:hover {
	text-decoration: none;
	color: black;
	
}

.footer_middle{
	width: 400px;
	height: 300px;
	background-color: white;
	margin: 2px 0px;
	border-radius: 8px;
	
	background-image: url('../images/findo5.png');
	background-size: cover;
	background-repeat: no-repeat;


	
	/* 추후 나중에 크기 조절 및 테두리 정리하기 */
}


.footer_bottom{
	width: 400px;
	background-color: white;
	margin: 16px 0px;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
	
	
}

.footer_bottom_top_list li {
	text-decoration: none;
	list-style: none;
	
}

.footer_bottom_top_list li a {
	text-decoration: none;
	color: #a6f7f0;
	font-size: 12px;
}

.footer_bottom_top_list li a:hover {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

.footer_bottom_middle {
	width: 400px;
	background-color: white;
	margin: 16px 0px;
	border-radius: 8px;
	
}

.footer_bottom_middle p {
	font-size: 8px;
	
}

.footer_bottom_bottom{
	width: 400px;
	background-color: white;
	margin: 2px 0px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	
}


.footer_bottom_bottom_top span {
	text-align: left;
	font-size: 8px;
	
}

.footer_bottom_bottom_middle i {
	color: #a6f7f0;
	
}

.footer_bottom_bottom_middle button {
	text-align: right;
	background-color:transparent;
	border: none;
	
}



/* index.jsp - footer class */

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

/* signin.jsp css */

.wrapper_login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin-top: 5%;

	
}

.signin_main_login {
	display: flex;
	justify-content: space-between;
	font-size: 8px;
}

.signin_main_loginbutton {
	text-align: center;
	margin: 16px 0px;
}

.signin_search {
	display: flex;
	font-size: 8px;
	
}

.signin_search li{
	list-style: none;
	
}

.signin_search a{
	text-decoration: none;
	color: black;
}

.signin_advertisement {
	margin: 8px 0px;
	
}

.signin_advertisement img{
	
	width: 400px;
	height: 300px;
	
}

.signin_law {
	display: flex;
	font-size: 8px;
	
}

.signin_law li{
	list-style: none;
	
}

.signin_law a{
	text-decoration: none;
	color: black;
}

.signin_copyright p {
	font-size: 8px;
	
}
/* signin.jsp css */
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/* signup.jsp css */

.signup_wrapper{
	display: flex;
	justify-content: center;
	
}

.signup_logo img {
	width: 200px;
	height: 200px;
	
}

.signup_button input {
	margin: 16px 0px;
	padding: 4px 103px;
	
}

.signup_law {
	display: flex;
	
}

.signup_law li {
	text-decoration: none;
	list-style: none;
	
}

.signup_law li a {
	text-decoration: none;
	color: black;

}

.signup_law {
	font-size: 8px;
	
}

.signin_copyright {
	font-size: 8px;
	
}


/* signup.jsp css */

/* signup_agreement.jsp css*/

.wrapper_signup_agreement_form {
	display: flex;
	justify-content: center;

	
}

.signup_agreement_form_button {
	text-align: center;
	margin-right: 60px;
	
	
}

.signup_agreement_form_button input {
	background-color: #d6faf7;
	border: 1px;
	padding: 8px 32px;
	border-radius: 8px;
	color: #11c1b5;
	
}

/* signup_agreement.jsp css */



/* index_search.jsp css */
.search_wrapper {
	display:content;
	
}

.search_main{
    margin-top: 100px;
    text-align: center;

}

.input-box{
    width: 200px;
    height: 36px;
    border-radius: 24px;
    border: 1px solid gray;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;

}

.search-icon{
    position: relative;
    width: 30px;
    left: 40px;
    color: gray;

}


.language-area{
    margin-top: 16px;;
}


/* index_search.jsp css */

/* index_bell.jsp css */
.index_bell_wrapper {
	display: flex;
	justify-content: center;
		
}


.index_bell_advertisement img {
	width: 400px;
	height: 300px;
	
}

/* index_bell.jsp css */

/* signup_complete.jsp css */

.signup_complete_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup_complete_top img {
	margin-top: 100px;
	width: 300px;
	height: 200px;
}

.signup_complete_middle_homebutton {
	margin: 16px 0px;
}

.signup_complete_middle_homebutton button {
	padding: 4px 16px;
}

.signup_complete_bottom {
	display: flex;
	font-size: 8px;
}

.signup_complete_bottom li{
	list-style: none;
}

.signup_complete_bottom a{
	text-decoration: none;
		color: black;
}

.signup_complete_bottom p {
	font-size: 8px;
}


/* signup_complete.jsp css */

/* company_using_law.jsp css */

.company_using_law_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin-top: 5%;
	
}

.company_using_law_main {
	width: 400px;
	height: 100%;
	
}

/* company_using_law.jsp css */

/* company_personal_info_law.jsp css */
.company_personal_info_law_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin-top: 5%;
	
}

.company_personal_info_law_main {
	width: 400px;
	height: 100%;
	
}

/* company_personal_info_law.jsp css */

/* company_financial_transation_law.jsp css */

.company_financial_transation_law_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin-top: 5%;
	
}

.company_financial_transation_law_main {
	width: 400px;
	height: 100%;
	
}

/* company_financial_transation_law.jsp css */

/* company_management_announcement.jsp css */

.company_management_announcement_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin-top: 5%;
	
}

.company_management_announcement_main {
	width: 400px;
	height: 100%;
	
}

/* company_management_announcement.jsp css */

/* index_company_wrapper */

.index_company_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 900;
	margin-top: 5%;
	border-radius: 16px;
	
}

.index_company_main_top {
	width: 400px;
	height: 300px;
	background-image: url('../images/building.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main_middle {
	width: 400px;
	height: 300px;
	background-image: url('../images/employee.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main_bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/company11.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
}

.index_company_main-footer {
	width: 400px;
	height: 300px;
	background-image: url('../images/company22.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main-footer-top {
	width: 400px;
	height: 300px;
	background-image: url('../images/on.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main-footer-middle {
	width: 400px;
	height: 300px;
	background-image: url('../images/management2.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main-footer-middle-middel {
	width: 400px;
	height: 300px;
	background-image: url('../images/profit.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main-footer-middle-bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/picture10.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main-footer-bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/picture12.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_company_main-footer-bottom-bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/show.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}
/* index_company_wrapper */

/* index_product_wrapper */

.index_product_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 900;
	margin-top: 5%;
	
}

.index_product_main_top {
	width: 400px;
	height: 300px;
	background-image: url('../images/sky.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main_middle {
	width: 400px;
	height: 300px;
	background-image: url('../images/people.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main_bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/shinhanfinance.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main-footer-top {
	width: 400px;
	height: 300px;
	background-image: url('../images/koreafinance.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main-footer-middle {
	width: 400px;
	height: 300px;
	background-image: url('../images/hanhwafinance.png');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main-footer-middle-middel {
	width: 400px;
	height: 300px;
	background-image: url('../images/kbfinance.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main-footer-middle-bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/smasungfinance.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main-footer-bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/nhfinance.png');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}

.index_product_main-footer-bottom-bottom {
	width: 400px;
	height: 300px;
	background-image: url('../images/kiwoomfinance.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
	margin: 16px 0px;
	border-radius: 16px;
}
/* index_product_wrapper */

/* index.jsp slide show css */


/* index.jsp slide show css */
